.logo {
  display:flex;
  position:fixed;
  left:50px;
  top: 30px;
  font-size: 35px;
  font-family: "lato", "sans-serif";
  font-weight: 700;
  background-color: transparent;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: fixed; 
  background-color: transparent;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: transparent;
}

.navList {
  transform: rotate(-90deg) translate3d(17%,-270%, 0);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 450px; 
  background-color: transparent;

}

.navLink {
  cursor: pointer;
  background-color: transparent;
}

.navIcons {
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  /* right : 250px; */
}

