.logo {
  display:flex;
  position:fixed;
  left: 50px;
  top: 35px;
  font-size: 35px;
  font-family: "lato", "sans-serif";
  font-weight: 700;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: fixed; 
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.navList {
  transform: rotate(-90deg) translate3d(17%, -210%, 0);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top:450px; 

}

.navLink {
  padding: var(--spaceM);
  color: rgb(var(--rgbText) / 0.8);
  font-weight: var(--fontWeightMedium);
  font-size: var(--headerNavFontSize);
  text-decoration: none;
  position: relative;
  transition: color var(--durationS) ease 0.1s;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.navIcons {
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  /* right : 250px; */

  
}
