
.timelineItem {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 3rem;
  padding-bottom: 1.6rem;
}

.timelineItem:last-child {
  padding-bottom: 0;
}

.timelineItem::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0.8rem;
  top: 0;
  background-color: black; /* Remplacez par la couleur souhaitée */
}

.timelineDate {
  position: absolute;
  left: -0.60rem;
  background-color: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  background-color: #232323;
  border-radius: 3%;
}

.timelineTitle {
  padding-top:  2.7rem;
}

