.skillsSection {
  padding-top: 6rem;
}

.skillsElements {
  margin: 0.2rem 0rem 0rem 0rem;

  @media (max-width: 599px) {
    margin: 2rem 0rem 0rem 0rem;
  }

}

.skillsCardsItem {
  padding: 2rem 2rem 2rem;
  border-radius: 1.25rem;
  transition: background-color 0.3s ease;
  width: 410px;
  height: 550px;

  @media (max-width: 599px) {
    padding: 2rem 1rem 0rem 2rem;
    width: 310px;
    max-height: 580px;
  }
}

/*.skillsCardsItem:hover {
  background-image: linear-gradient(135deg, #a3c0ff, #B799FF, #cde7e6), url("https://grainy-gradients.vercel.app/noise.svg");
  background-blend-mode: multiply; 
}*/


.skillsTitle {
  text-align: center !important;
  margin-top: 2rem;
}

.skillsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes avec largeur égale */
  column-gap: 2rem; 
}

.skillsItem {
  display: flex;
  flex-direction: column;
}

.skillsItemListing {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.skillsIcon {
  font-size: 1rem;
  color: #9bcfce;
  margin-top: 2rem;
}
