.skillsSection {
  padding-top: 6rem;
}

.skillsElements {

  @media (max-width: 599px) {
    margin: 0rem 0rem 0rem 0rem;
  }

}

.skillsCardsItem {
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1.25rem;
  transition: background-color 0.3s ease;
  width: 100%;
  height: auto;

  @media (max-width: 599px) {
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
    height: auto;
    margin-bottom: -0.5rem;
  }
}



.skillsTitle {
  text-align: center !important;
  margin-top: 2rem;
}

.skillsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes avec largeur égale */
  column-gap: 2rem; 
}

.skillsItem {
  display: flex;
  flex-direction: column;
}

.skillsItemListing {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.skillsIcon {
  font-size: 1rem;
  color: #9bcfce;
  margin-top: 2rem;
}
