
.mainPortfolioSection {
  display: flex;
  flex-direction: column;
}

.titleSection {
  padding-top: 5rem;
}

.itemsFilter {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem; 
}

.itemSection {
  cursor: pointer;
  transition: .3s;

}

.itemSection:hover {
  color: red; 
}

 .itemContainer {
  margin-top: 4rem;
  gap: 3rem; 
} 

.itemCard {
  position: relative;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 2%;
  min-width: 300px;
  max-width: 300px ! important;
  min-height: 300px;
}

.itemMask {
  background: #F5F0EC;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .3s;
  opacity: 0;
}

.itemCard:hover .itemMask {
  opacity: 0.5;
}


.itemCategory {
  color: #F5F0EC;
  background-color: #191919;
  position: absolute;
  top: 0;
  left: 1.5rem; 
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: .3s;
}

.itemTitle {
  margin: 0 0 0.98rem; 
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem; 
  transform: translateY(30px);
  transition: .3s;
  opacity: 0;
}

.itemImgContainer {
  width: 200px;
  height: 200px ;

}

.itemImg > img {
  object-fit:fill;
}


.itemButton {
  color: blue;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: 25px;
  display: block;
  background-color: antiquewhite;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: .3s;
  opacity: 0;
}

.itemCard:hover .itemButton {
  opacity: 1;
}

.itemCard:hover .itemTitle,
.itemCard:hover .itemCategory {
  opacity: 1;
  transform: translateY(0);
}


