.mainPortfolioSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleSection {
  padding-top: 4.5rem;
}

.itemsFilter {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
  margin-top: 2.2rem; 

  
  @media (max-width: 600px) {
    margin-top: 0.6rem; 
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0rem;
    margin-bottom: -0.8rem;

}
}

.itemSection {
  cursor: pointer;
  transition: .25s;

}


 .itemContainer {
  margin-top: 3rem;
  gap: 2.5rem; 

  @media (max-width: 600px) {
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 601px) and (max-width: 1411px) {
  gap: 1.5rem;
  }

  @media (min-width: 1412px) {
    padding-right: 20px;
  }
} 

.itemCard {
  position: relative;
  overflow: hidden;
  border-radius: 1%;
  min-width: 450px;
  max-width: 450px ! important;
  min-height: 450px;

  @media (max-width: 1411px) {
    min-width: 330px;
    max-width: 330px ! important;
    min-height: 360px;
  }

}

.itemMask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .3s;
  opacity: 0;
}

.itemCard:hover .itemMask {
  opacity: 0.97;
}


.itemCategory {
  color: #F5F0EC;
  background-color: #191919;
  position: absolute;
  top: 0;
  left: 1.5rem; 
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: .3s;
}

.itemTitle {
  margin: 0 0 0.98rem; 
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem; 
  transform: translateY(30px);
  transition: .3s;
  opacity: 0;

  @media (max-width: 1411px) {
    top: 3rem;
  }
}

.itemDescribe {
  margin: 0 0 0.98rem; 
  padding: 0 1.25rem;
  position: absolute;
  top: 14rem; 
  transform: translateY(30px);
  transition: .3s;
  opacity: 0;

  @media (max-width: 1411px) {
    top: 8rem;
  }

}

.itemKeywords {
  margin: 0 0 0.98rem; 
  padding: 0 1.25rem;
  position: absolute;
  top: 21rem; 
  transform: translateY(30px);
  transition: .3s;
  opacity: 0;

  @media (max-width: 1411px) {
    top: 15.5rem; 
  }

}

.itemLinks {
  display: flex;
  align-items: center;
  column-gap: 7rem;
  color: #191919 !important;
  margin: 0 0 0.98rem; 
  padding: 0 1.25rem;
  position: absolute;
  top: 25.7rem; 
  transform: translateY(30px);
  transition: .3s;
  opacity: 0;

  @media (max-width: 1411px) {
    top: 20rem; 
    column-gap: 3rem;
  }

}




.itemImgContainer {
  width: 450px;
  height: 450px ;
  max-width: 100%;

  @media (max-width: 1411px) {
    height: 150px;
  }
}

.itemImg {
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (max-width: 1411px) {
    height: 380px;
  }
}

.itemCard:hover .itemTitle,
.itemCard:hover .itemCategory,
.itemCard:hover .itemDescribe,
.itemCard:hover .itemKeywords,
.itemCard:hover .itemLinks{
  opacity: 1;
  transform: translateY(0);
}


