.degradedText {
  background: linear-gradient(to right, #B799FF, #8ec9c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.collapsedText {
  padding-left: 10%;
  padding-bottom:2%;
  padding-top: 2%;
}

.bck {
  background-color: #8ec9c8;
}
