.degradedText {
  background: linear-gradient(to right, #B799FF, #8ec9c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


.bck {
  background-color: #8ec9c8;
}
