.titleSection {
  padding-top: 4.5rem;
}

.mainSkillsSection {
  display: flex;
  flex-direction: column;
}

.educationSection {
  margin-bottom: 2rem;
  border-radius: 1%;
  background-image: linear-gradient(to top left,#B799FF, #9bcfce, #cde7e6, #B799FF);
}

.educationSection:hover {
  background-image: linear-gradient(to top right,#B799FF, #9bcfce, #cde7e6, #B799FF);
}


.WorkSection {
  margin-top: -3rem;

  @media (max-width: 959px) {
    margin-top: -2rem;
  }
}

.resumeTimeline {
  padding: 1.875rem;
  border-radius: 1%;
  position: relative;
}

.sectionEducationText {
  display: flex;
}

.sectionWorkText {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 959px) {
    justify-content: flex-start;
  }
}

